
img { vertical-align: middle;  max-width: 100%;}
.basic_img{opacity:0; visibility:hidden; height:auto;}
.back_img{background-repeat:no-repeat; background-size:cover; background-position:50% 50%;}

.section {position: relative;padding-top: 50vh; border: 1px solid red;}
.main_message {	display: flex; align-items: center; justify-content: center;top: 35vh;margin: 5px 0;height: 3em;font-size: 2.5rem;opacity: 0;}
.main_message p {font-weight: bold;text-align: center;line-height: 1.2;}

.description {max-width: 1000px;margin: 0 auto;	padding: 0 1rem;font-size: 1.2rem;color: #888;}
.description strong {float: left;margin-right: 0.2em;font-size: 3rem;color: rgb(29, 29, 31);}

.sticky_bg { /*display : none; */position: fixed; top: 0; left: 0;width: 100%; opacity: 0;}
.sticky_elem { /*display : none; */position: fixed; left: 0;width: 100%;}
#show-scene-1 .section1 .sticky_elem,
#show-scene-2 .section2 .sticky_elem,
#show-scene-3 .section3 .sticky_elem,
#show-scene-4 .section4 .sticky_elem,
#show-scene-5 .section5 .sticky_elem { display: block; will-change: transform, opacity;}

